{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}
 
{% endblock %}
{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<!-- Main-body start -->
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					<!-- row start -->
					<div class="row mb-5">
						<div class="col-xl-9 col-md-12 h6 mb-5">
							<span class="pr-1">Click:</span> <span class="font-weight-bold blu-click">10</span>
							<span class="pr-1 pl-3">My Best:</span><span class="font-weight-bold blu-my-best">15</span>
							<span class="pr-1 pl-3">Global Best:</span><span class="font-weight-bold blu-global-best">12</span>
						</div>
						<div class="col-xl-3 col-md-12 text-right">
							<button class="btn btn-primary btn-block p-t-15 p-b-15 " onclick="fnService.setNewGame();">New Game</button>
						</div>
					</div>
					<div class="row card-body">
						{% for i in 0..11 %}
						<div class="col-xl-3 col-md-6">
							<div class="card">
								<div class="card-block" onclick="fnService.setClick({{ i }});">
									<div class="row m-l-0">
										<div class="col-auto card-item text-center w-100" >
											 <p class="h2 p-5 card-item-number">&bnsp;</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}

<script>
var fnService = {

	card : document.getElementsByClassName("card-body"),
	ele_btn_newgame : document.getElementsByClassName("btn-new-game"),
	ele_card : document.getElementsByClassName("card-item-number"),
	ele_click : document.getElementsByClassName("blu-click"),
	ele_my_best : document.getElementsByClassName("blu-my-best"),
	ele_global_best : document.getElementsByClassName("blu-global-best"),
	token : '{{ token }}',
	request : new XMLHttpRequest(),
	
	setNewGame: function() {
		fnService.card[0].style.display = 'none';
        fnService.request.open('GET', '{{ base_url }}/set-new-game/'+ fnService.token, true);
        fnService.request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        fnService.request.onreadystatechange = function() {
            if(fnService.request.readyState == 4 && fnService.request.status == 200) {
                fnService.card[0].style.display = '';
            }
        }
        fnService.request.send();
        for (var i=0; i<fnService.ele_card.length; i++) {
            fnService.ele_card[i].innerHTML = '';
        }
        
        fnService.ele_click[0].innerHTML = 0;
	},	
	
	setClick: function(index){
		for (var i=0; i<fnService.ele_card.length; i++) {
            fnService.ele_card[i].innerHTML = '';
        }
        
        fnService.request.open('GET', '{{ base_url }}/get-card-number/'+ fnService.token+'/'+ index, true);
        fnService.request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        
        fnService.request.onload = function() {
          if (this.status >= 200 && this.status < 400) {
            fnService.ele_card[index].innerHTML = this.response;
            console.log(data);
          }  
        };
        fnService.request.send();
        var click = fnService.ele_click[0].innerHTML;
        fnService.ele_click[0].innerHTML = Number(click)+1;
	},
	
	init : function(){
 		fnService.setNewGame();
	}
}

fnService.init();
</script>

{% endblock %}