{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/select2/css/select2.min.css">
<style>
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #fff !important;
  }
  .select2-container .select2-selection--single {
    height: auto !important;
  }
</style>
{% endblock %}
{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										{{ title_body }}
									</h4>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-body">
					<div class="row">

						<div class="col-sm-12">
							<div class="card">
								<div class="card-block">
									<!--<div class="alert alert-warning background-warning">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<i class="icofont icofont-close-line-circled text-white"></i>
										</button>
										<strong>Warning!</strong> Add Class
										<code>{{ app.request('email')}}</code>
									</div>-->
									<h4 class="sub-title">Heatmap Group Inputs</h4>
									<form action="" method="post" autocomplete="on" id="form_hmcam" enctype="multipart/form-data">
										<input type="hidden" name="group_id" id="group_id" value="{{ group.camera_group_id }}">
										<div class="form-group row">
                      <div class="col-sm-1"></div>
											<label class="col-sm-2 col-form-label">Group Name<span class="text-danger error">*</span></label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="group_name" id="group_name" value="{{ group.camera_group_name }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
                      <div class="col-sm-1"></div>
										</div>
                    <div class="form-group row">
                      <div class="col-sm-1"></div>
											<label class="col-sm-2 col-form-label">Branch<span class="text-danger error">*</span></label>
											<div class="col-sm-8">
                        <select class="form-control" name="group_branch" id="group_branch">
                            <option value="">---Please Select Branch---</option>
                          {% for branch in branchs %}
                            {% if group.branch_id == branch.branch_id %}
                              <option value="{{ branch.branch_id }}" selected>{{branch.branch_name}}</option>
                            {% else %}
                              <option value="{{ branch.branch_id }}">{{branch.branch_name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
											</div>
                      <div class="col-sm-1"></div>
										</div>
                    <div class="form-group row">
                      <div class="col-sm-1"></div>
						          <label class="col-sm-2 col-form-label">Description</label>
          						<div class="col-sm-8">
          							<textarea rows="5" cols="5" class="form-control" name="group_desc" id="group_desc">{{ group.camera_group_desc }}</textarea>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
          						</div>
                      <div class="col-sm-1"></div>
          					</div>
                    <div class="form-group row camera_selection border-checkbox-section" style="display:none">
                      <div class="col-sm-1"></div>
						          <div class="col-sm-2"></div>
                      <div class="col-sm-8">
            						<label class="col-sm-4 col-form-label" align="left">Camera</label>
                      </div>
                      <div class="col-sm-1"></div>
          					</div>
                    <div class="form-group row camera_selection border-checkbox-section" style="display:none">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-8 border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-primary">
                          <input class="border-checkbox checkAll" type="checkbox" id="checkAll" onchange="selectAll(this)">
                          <label class="border-checkbox-label" for="checkAll">Select all</label>
                        </div>
                      </div>
                      <div class="col-sm-1"></div>
          					</div>
                    <div class="form-group row camera_selection border-checkbox-section" style="display:none">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-8 camera_selector border-checkbox-section">
                      </div>
                      <div class="col-sm-1"></div>
          					</div>
										<div class="row">
											<div class="col-md-12 text-right">
												<button type="button" class="btn btn-outline-secondary btn-cancel">Cancel</button>
												<button type="submit" class="btn btn-secondary btn-save">&nbsp; Save &nbsp;</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}
<script src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/select2/js/select2.full.min.js"></script>

<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/script.js"></script>

<script>

      function selectAll(ele){
        if(ele.checked){
          $(".checkSingle").each(function(){
            this.checked=true;
          });
        }else{
          $(".checkSingle").each(function(){
            this.checked=false;
          });
        }
      }

      function checkStatus(ele){
        if ($(ele).is(":checked")){
          var isAllChecked = 0;
          $(".checkSingle").each(function(){
            if(!this.checked)
               isAllChecked = 1;
          })
          if(isAllChecked == 0){ $("#checkAll").prop("checked", true); }
        }else {
          $("#checkAll").prop("checked", false);
        }
      }

      $(document).ready(function(){

          $('#group_branch').trigger('change');

          $("#group_branch").select2();

          $('.btn-cancel').click(function() {
            window.history.back();
          });

          $('.btn-save').click(function() {
            $('.messages').hide();

            var group_chk = 0;
            var group_name = $("#group_name").val();
            var group_branch = $("#group_branch").val();

            if(group_name == ''){
              $('#group_name').parent('div').find('.messages').show();
              group_chk = 1;
            }
            if(group_branch == ''){
              $('#group_branch').parent('div').find('.messages').show();
              group_chk = 1;
            }

            if(group_chk == 1){
              return false;
            }
          });

      });

      $("#group_branch").change(function() {
        $.ajax({
          type: "POST",
          url: "{{ base_url }}/heatmap-group/get-camera-branch",
          data: {branch_id: this.value},
          cache: false,
          success: function(data){
            var obj = JSON.parse(data);
            var len = obj.length;

            if(len > 0){
              var html = '';
              var camera_length = 0;

              $.each(obj, function(key, value){
                  html += '<div class="border-checkbox-group border-checkbox-group-primary">';

                    {% if type == 'edit' %}
                      var camera_arr = [];


                      {% for selected_camera in selected_cameras %}
                        camera_arr.push({{ selected_camera.camera_id }});
                      {% endfor %}

                      all_camera_length = camera_arr.length;

                      if(camera_arr.includes(parseInt(value.camera_id))){
                        html += '<input type="checkbox" class="border-checkbox checkSingle" id="camera_'+key+'" name="camera[]" onclick="checkStatus(this)" value="'+value.camera_id+'-'+value.camera_name+'" checked>';
                      }else{
                        html += '<input type="checkbox" class="border-checkbox checkSingle" id="camera_'+key+'" name="camera[]" onclick="checkStatus(this)" value="'+value.camera_id+'-'+value.camera_name+'">';
                      }
                    {% else %}
                      html += '<input type="checkbox" class="border-checkbox checkSingle" id="camera_'+key+'" name="camera[]" onclick="checkStatus(this)" value="'+value.camera_id+'-'+value.camera_name+'">';
                    {% endif %}

                    html += '<label class="border-checkbox-label" for="camera_'+key+'"> '+ value.camera_name+'</label>';
                  html += '</div>';
              });

              $('.camera_selector').html(html);
              if(len == all_camera_length){
                $('#checkAll').prop('checked',true);
              }
              $('.camera_selection').show();
            }else{
              $('.camera_selection').hide();
            }

          }
        });
      });
</script>
{% endblock %}
