{% extends "layout/index.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/pages/j-pro/css/j-forms.css">
 <link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/feather/css/feather.css">
 <link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons-wind.min.css">


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.1/css/fixedColumns.dataTables.min.css">

<style>
th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
</style>


{% endblock %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                {{ breadcrumb|raw }}
                            </div>
                        </div>
                        <div class="col-lg-8 text-right">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>
                                        {{ title_body }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                    {% block criteria %}
                                    {% include 'component/criteria.html' with { 'base_url': base_url } %}
                                    {% endblock %}
 
                            </div>
                        </div>
                    </div>

					<div class="row">
						<div class="col-sm-12">

							<div class="card">
								<table id="data-table" class="stripe row-border order-column" style="width: 100%">
									<thead>
										<tr>
											<th style="background-color:#eee;">Location</th>
											{% set hours = ["00:00","01:00","02:00","03:00","04:00","05:00","06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00","Total"] %}
											{% for i in hours %}
                                            <th class="text-center" style="width: 1%; white-space: nowrap !important;">{{ i }}</th>
                                            {%  endfor %}
										</tr>
									</thead>
									<tbody>
									   {% set location = ["Super sports - Central World","Skechers - Central Ladprao","Fit sports - Seacon Square","Super Sports - Central Rama 9","Total"] %}
									   {% for i in location %}									
										<tr>
											<td class="text-left" style="background-color:#eee;">{{ i }}</td>
											 {% for j in hours %}
                                            <th class="text-center" style="width: 1%; white-space: nowrap !important;">0</th>
                                            {%  endfor %}
										</tr>
										{%  endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block footer %}
{{ parent() }}

<!-- datatable 
<script src="{{ base_url }}/theme/bower_components/datatables.net/js/jquery.dataTables.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.print.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.html5.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" ></script>  -->

 <script src="{{ base_url }}/theme/assets/pages/advance-elements/moment-with-locales.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base_url }}/theme/assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-daterangepicker/js/daterangepicker.js"></script>
 
<!-- Chartlist charts -->
<script src="{{ base_url }}/theme/bower_components/chartist/js/chartist.js"></script>
<script src="{{ base_url }}/theme/assets/pages/chart/chartlist/js/chartist-plugin-threshold.js"></script>
<!-- Morris Chart js -->
<script src="{{ base_url }}/theme/bower_components/raphael/js/raphael.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/morris.js/js/morris.js"></script>
<!-- i18next.min.js -->
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/bower_components/chart.js/js/Chart.js"></script>
<!-- amchart js -->
<script src="{{ base_url }}/theme/assets/pages/widget/amchart/amcharts.js"></script>
<script src="{{ base_url }}/theme/assets/pages/widget/amchart/serial.js"></script>
<script src="{{ base_url }}/theme/assets/pages/widget/amchart/light.js"></script>

{# <script src="{{ base_url }}/theme/assets/pages/chart/morris/morris-custom-chart.js"></script>#}
<script type="text/javascript" src="{{ base_url }}/theme/assets/pages/chart/chartjs/chartjs-custom.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/assets/js/SmoothScroll.js"></script>
<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/script.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/assets/pages/j-pro/js/custom/popup-menu-form.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/common-pages.js"></script>

<script src="{{ base_url }}/theme/assets/js/criteria.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>    
<script src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>    
    
<script>
$(function() {
    $('.input-daterange input, .criteria-date input').each(function() {
        var dateObj = $(this).datepicker({
        format: 'yyyy-mm-dd'
        });
    });
    
    var table = $('#data-table').DataTable( {
    	"paging": false,
        "lengthChange": false,
        "info": false,
        "searching": false,
        scrollY:        "300px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        fixedColumns:   {
            leftColumns: 1
        }
    } );

});

    

</script>   
    
    
    
{% endblock %}