{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/select2/css/select2.min.css">
<style>
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #fff !important;
  }
  .select2-container .select2-selection--single {
    height: auto !important;
  }
</style>
{% endblock %}
{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										{{ title_body }}
									</h4>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-body">
					<div class="row">

						<div class="col-sm-12">
							<div class="card">
								<div class="card-block">
									<!--<div class="alert alert-warning background-warning">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<i class="icofont icofont-close-line-circled text-white"></i>
										</button>
										<strong>Warning!</strong> Add Class
										<code>{{ app.request('email')}}</code>
									</div>-->
									<h4 class="sub-title">Company Profile Inputs</h4>
									<form action="" method="post" autocomplete="on" id="form_inform" enctype="multipart/form-data">
										<input type="hidden" name="company_id" id="company_id" value="{{ company.company_id }}">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Company Name<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_name" id="company_name" value="{{ company.company_name }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Owner<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_owner" id="company_owner" value="{{ company.company_owner }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Website<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_website" id="company_website" value="{{ company.company_website }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Email<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_email" id="company_email" value="{{ company.company_email }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Phone<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_phone" id="company_phone" value="{{ company.company_phone1 }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
                    <div class="form-group row">
											<label class="col-sm-2 col-form-label">Phone2</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_phone2" id="company_phone2" value="{{ company.company_phone2 }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Fax</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_fax" id="company_fax" value="{{ company.company_fax }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
                    <br>
                    <h4 class="sub-title">Company Address Inputs</h4>
                    <div class="form-group row">
						          <label class="col-sm-2 col-form-label">Address<span class="text-danger error">*</span></label>
          						<div class="col-sm-10">
          							<textarea rows="5" cols="5" class="form-control" name="company_address" id="company_address">{{ company.company_address }}</textarea>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
          						</div>
          					</div>

                    <div class="form-group row">
											<label class="col-sm-2 col-form-label">Country<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
                        <select class="form-control" name="company_country" id="company_country">
                            <option value="">---Please Select Country---</option>
                            {% if company.company_country == 'THA' %}
                                <option value="THA" selected>Thailand</option>
                            {% else %}
                                <option value="THA">Thailand</option>
                            {% endif %}

                          {% for country in countries %}
                            {% if company.company_country == country.country_code %}
                              <option value="{{ country.country_code }}" selected>{{country.country_name}}</option>
                            {% else %}
                              <option value="{{ country.country_code }}">{{country.country_name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
											</div>
										</div>

                    <div class="form-group row">
											<label class="col-sm-2 col-form-label">Province<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
                        <select class="form-control" name="company_province" id="company_province" disabled>
                            <option value="">---Please Select Province---</option>
                          {% for province in provinces %}
                            {% if company.province_id == province.province_id %}
                              <option value="{{ province.province_id }}" selected>{{province.province_name_eng}} ({{province.province_name_th}})</option>
                            {% else %}
                              <option value="{{ province.province_id }}">{{province.province_name_eng}} ({{province.province_name_th}})</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
											</div>
										</div>

                    <div class="form-group row">
											<label class="col-sm-2 col-form-label">City / State<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_state" id="company_state" value="{{ company.company_city }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>

                    <div class="form-group row">
											<label class="col-sm-2 col-form-label">Zip Code<span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="company_zipcode" id="company_zipcode" value="{{ company.company_zip }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>

                    <div class="form-group row">
          						<label class="col-sm-2 col-form-label">Active Status</label>
          						<div class="col-sm-10">
          							<div class="form-radio">
          								<div class="radio radiofill radio-inverse radio-inline">
          									<label>
          										<input type="radio" name="company_status" value="1" {% if( company.company_active >= 1 ) %} checked {%else%} checked {% endif %}>
          										<i class="helper"></i>Active
          									</label>
          								</div>
          								<div class="radio radiofill radio-inverse  radio-inline">
          									<label>
          										<input type="radio" name="company_status" value="0" {% if( type == 'edit' and company.company_active == 0 ) %} checked {% endif %}>
          										<i class="helper"></i>Inactivate
          									</label>
          								</div>
          							</div>
                        <span class="messages"><p class="text-danger error">{{ incurrect_message }}</p></span>
          						</div>
          					</div>

                    <br>
                    <h4 class="sub-title">Company Logo Inputs</h4>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Logo</label>
                          <div class="col-sm-10">
                            <input type="file" name="company_logo" id="company_logo" style="display:none;" accept="image/jpeg, image/jpg, image/png">
                            <label for="company_logo" class="btn btn-inverse" style="cursor:pointer;">Choose a logo</label>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <label class="col-sm-10 col-form-label"><span class="text-danger error">*Support image jpeg, jpg, png (100x40)</span></label>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                            <img class="company_logo_img" id="company_logo_img" height="150" width="250" style="display:none;">
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Mobile Logo</label>
                          <div class="col-sm-10">
                            <input type="file" name="company_mobile_logo" id="company_mobile_logo" style="display:none;" accept="image/jpeg, image/jpg, image/png">
                            <label for="company_mobile_logo" class="btn btn-inverse" style="cursor:pointer;">Choose a logo</label>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <label class="col-sm-10 col-form-label"><span class="text-danger error">*Support image jpeg, jpg, png (190x190)</span></label>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                            <img class="company_mobile_logo_img" id="company_mobile_logo_img" height="150" width="250" style="display:none;">
                          </div>
                        </div>
                      </div>

                    </div>

										<div class="row">
											<div class="col-md-12 text-right">
												<button type="button" class="btn btn-outline-secondary btn-cancel">Cancel</button>
												<button type="submit" class="btn btn-secondary btn-save">&nbsp; Save &nbsp;</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}
<script src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/select2/js/select2.full.min.js"></script>

<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/script.js"></script>

<script>
      $(document).ready(function(){

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

              reader.onload = function(e) {
                if(input.id == 'company_logo'){
                  $('#company_logo_img').attr('src', e.target.result);
                }else if(input.id == 'company_mobile_logo'){
                  $('#company_mobile_logo_img').attr('src', e.target.result);
                }
              }
              reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
          }

        function validate(){

        }

          $("#company_country").select2();
          $("#company_province").select2();

          {% if type == 'edit' %}
            $('#company_province').removeAttr('disabled');
            $('#company_logo_img').attr("src",'{{base_url}}'+"/writable/uploads/company/information/webbrowser/"+'{{ company.company_logo }}');
            $('#company_mobile_logo_img').attr("src",'{{base_url}}'+"/writable/uploads/company/information/mobile/"+'{{ company.company_logo_phone }}');
            $('#company_logo_img').show();
            $('#company_mobile_logo_img').show();
          {% endif %}

          $("#company_logo").change(function() {
            readURL(this);
            setTimeout(function(){
              $("#company_logo_img").show();
            },300);
          });

          $("#company_mobile_logo").change(function() {
            readURL(this);
            setTimeout(function(){
              $("#company_mobile_logo_img").show();
            },300);
          });

          $("#company_country").change(function(){
            var company_country = $("#company_country").val();

            $.ajax({
  						type: "POST",
  						url: "{{ base_url }}/information/getProvinces",
  						data: {company_country: company_country},
  						cache: false,
  						success: function(data){
                var obj = JSON.parse(data);
                var html = '<option value="">---Please Select Province---</option>';
                $.each(obj, function(key,value){
                    html += '<option value="'+value.province_id+'">'+value.province_name_eng+'('+value.province_name_th+')'+'</option>';
                });

                $('#company_province').empty();
                $('#company_province').html(html);
                $('#company_province').removeAttr('disabled');
  						}
  					});
          });

          $('.btn-cancel').click(function() {
            window.history.back();
          });

          $('.btn-save').click(function() {
            $('.messages').hide();

            var company_chk = 0;
            var company_name = $("#company_name").val();
            var company_owner = $("#company_owner").val();
            var company_website = $("#company_website").val();
            var company_email = $("#company_email").val();
            var company_phone = $("#company_phone").val();
            var company_address = $("#company_address").val();
            var company_country = $("#company_country").val();
            var company_province = $("#company_province").val();
            var company_state = $("#company_state").val();
            var company_zipcode = $("#company_zipcode").val();

            if(company_name == ''){
              $('#company_name').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_owner == ''){
              $('#company_owner').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_website == ''){
              $('#company_website').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_email == ''){
              $('#company_email').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_phone == ''){
              $('#company_phone').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_address == ''){
              $('#company_address').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_country == ''){
              $('#company_country').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_province == ''){
              $('#company_province').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_state == ''){
              $('#company_state').parent('div').find('.messages').show();
              company_chk = 1;
            }
            if(company_zipcode == ''){
              $('#company_zipcode').parent('div').find('.messages').show();
              company_chk = 1;
            }

            if(company_chk == 1){
              return false;
            }
          });

      });
</script>
{% endblock %}
