{% extends "layout/index.html" %}

{% block head %}
{{ parent() }}

{% endblock %}

{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">

		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										{{ title_body }}
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="card">
						    <div class="card-block">

						     	<div class="form-group row col">
						     		<label class="col-form-label">Branch : </label>
						     		<div class="col-sm-4">
						     			<select class="form-control" id="branch_id" name="branch_id">
						     				<option value="all" selected>All Branchs</option>
						     				{% for branch in branchs %}
												<option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
											{% endfor %}
						     			</select>
						     		</div>
						     	</div>   

	                        </div>
						</div>
					</div>
				</div>

				<div class="page-body">
					<div class="row">
						<div class="col-sm-12">

							<div class="card">
								<div class="card-block">
									<div class="dt-responsive table-responsive">
										<table id="floorpan_table" class="table table-striped table-bordered nowrap">
											<thead>
												<tr>
													<th width="5%">ID</th>
													<th>Floorplan</th>
													<th width="20%">Branch</th>
													<th width="10%">Camera Group</th>
													<th width="10%"></th>
												</tr>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>


{% endblock %}
{% block footer %}
{{ parent() }}
<script src="{{ base_url }}/theme/bower_components/datatables.net/js/jquery.dataTables.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js" ></script>

<script src="{{ base_url }}/theme/assets/pages/data-table/js/jszip.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/js/pdfmake.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/js/vfs_fonts.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/jszip.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js" ></script>
<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js" ></script>

<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.print.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.html5.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" ></script>

<script src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>

<script src="{{ base_url }}/theme/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js" ></script>
<script src="{{ base_url }}/theme/assets/js/pcoded.min.js" ></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js" ></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js" ></script>
<script src="{{ base_url }}/theme/assets/js/script.js"></script>
	
<script>

	var dataset = {
		branch_id : $("#branch_id").val()
	}

	$("#branch_id").change(function(){
		dataset = {
			branch_id : $(this).val()
		}
		genTable(dataset);			
	});


	genTable(dataset);

	function genTable(dataset){
		$('#floorpan_table').DataTable({
    		dom : 'Bfrtip',
    		buttons : [
    			{
	    			text : '+ Add',
	    			className : 'btn btn-secondary',
	    			action : function(e, dt, node, config) {
	    				window.location.href="{{ base_url }}/floorplan/add/"+$("#branch_id").val();
	    			}
	    		}
    		],
    		bDestroy: true,
    		serverSide: true,  
    		ajax: {
    			url: "{{ base_url }}/floorplan-table",
    			type: "POST",
    			data: dataset
    		},
    		columnDefs : [
    			{
    				targets : [4],
    				orderable : false
    			},
    			{
    				targets : [3],
    				className : "text-center"
    			}
    		]
    	});

    	$('.dt-button').removeClass('dt-button');
	}
	
	function deleteFloorplan(map_id){
		if (confirm('Are you sure to delete?')) {
			var url = "{{ base_url }}/floorplan/delete/"+map_id;
			$.post(url, function(response){
				genTable(dataset);
			});
		}
	}

</script>

{% endblock %}