{% extends "layout/index.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/pages/j-pro/css/j-forms.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/feather/css/feather.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons-wind.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/css/p-loader.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/pages/list-scroll/list.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/stroll/css/stroll.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/multiselect/css/multi-select.css">


<style type="text/css">
	#upload_file{
		height: 40px;
	    margin-top: -2px;
	}

	.scroll-list{
		min-height: 200px;
		max-height: 700px;
		height: 622px;
	}

	#floorplan_canvas{
		border:1px solid #d3d3d3;
		background-image:url('');
		background-color: #f8f8f8;
		background-size:100% 100%;
		cursor:crosshair;
		width:100%;
	}

	.ms-container{
		width: 100%;
	}

	.icofont-lock{
		color : red;
	}

	.icofont-unlocked{
		color : green;	
	}

	.delete_group{
		float: right;
		cursor: pointer;
		color: red;
	}

	.input_label{
		width: 60px;
	}

	.label_box{
		position: absolute;
	    background: #000000bf;
	    padding: 1%;
	    border-radius: 5px;
	    box-shadow: 1px 1px 15px #00000099;
	    color: #fff;
	    display: inline-table;
	    line-height: 1vw;
	}

	.label_text{
		font-size: 0.6vw;
	}

</style>

{% endblock %}

{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										 {{ page_title }}
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-body">
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<div class="col">
								     	<div class="form-group row">
								     		<label class="col-form-label">Flooplan Name : </label>
								     		<div class="col-sm-4">
									     		<input type="text" class="form-control" id="floorplan_name" name="floorplan_name" value="{{ floorplan_data.map_name }}" autocomplete="off">
								     		</div>
								     		<label class="col-form-label">Upload Flooplan : </label>
								     		<div class="col-sm-4">
									     		<input type="file" class="form-control" id="upload_file" name="upload_file" accept="image/jpg,image/jpeg,image/png">
								     		</div>
								     		<div class="col">
								     			<button class="btn btn-secondary" id="upload_btn" type="button">Upload</button>
								     		</div>
								     	</div>   
								    </div>
								</div>
								<div id="floorplan_content">
									<div class="card-block">
								     	<div class="row">
											<div class="col-sm-9">
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label style="width:100%;">
																Press <b><u>Left Click</u></b> to draw a point. <b><u>CTRL+Click</u></b> or <b><u>Right Click</u></b> to close the area.
																<span style="float:right;margin-top:-10px;">
																	<i class="icofont icofont-undo btn btn-secondary btn-round btn-sm" title="undo" onclick="undo();"></i>
																	<i class="icofont icofont-eraser btn btn-secondary btn-round btn-sm" title="reset" onclick="clear_canvas();"></i>
																</span>
															</label>
															<canvas id="floorplan_canvas"
																data-imgsrc="{{ floorplan_data.map_path }}" 
																style="background-image:url({{ floorplan_data.map_path }});" 
																onmousedown="point_it(event)" oncontextmenu="return false;"></canvas>
															<div id="label_div">
																
															</div>
															<input type="hidden" id="hidden_canvas_width" value="{{ floorplan_data.map_width }}">
															<input type="hidden" id="hidden_canvas_height" value="{{ floorplan_data.map_height }}">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Coordinates :</label>
															<textarea id="coordinates" disabled="disabled" style="width:100%; height:75px;"></textarea>
														</div>
													</div>
												</div>

											</div>
											<div class="col-sm-3">
												<div class="text-center">
													<h5 class="sub-title">Camera Groups Status</h5>
												</div>
												<div class="card card-block user-card">
	                                                <ul class="scroll-list flip">
	                                                	{% if camera_groups is empty %}
	                                                		<li class="text-center">
                                                				<h6>-- Camera Group not Found --</h6>
	                                                		</li>
	                                                	{% else %}
		                                                	{% for group in camera_groups %}
		                                                    <li data-groupid="{{ group.camera_group_id }}">
		                                                        <h6>
		                                                        	{% if group.camera_group_id in taken_camera_group %}

		                                                        	<i class="icofont icofont-lock"></i>&nbsp;&nbsp;{{ group.camera_group_name }}
		                                                    		<i class="delete_group icofont icofont-trash" data-groupid="{{ group.camera_group_id }}"></i>

		                                                        	<div class="row input_row">
		                                                        		<div class="col">
		                                                        			<div class="form-group" data-groupid="{{ group.camera_group_id }}">
				                                                        		T=<input type="number" class="input_label" data-groupid="{{ group.camera_group_id }}" id="input_t_{{ group.camera_group_id }}">
				                                                        		L=<input type="number" class="input_label" data-groupid="{{ group.camera_group_id }}" id="input_l_{{ group.camera_group_id }}"><br>
				                                                        		W=<input type="number" class="input_label" data-groupid="{{ group.camera_group_id }}" id="input_w_{{ group.camera_group_id }}">
				                                                        		H=<input type="number" class="input_label" data-groupid="{{ group.camera_group_id }}" id="input_h_{{ group.camera_group_id }}">
			                                                        		</div>
		                                                        		</div>
		                                                        	</div>
		                                                    		
		                                                        	{% else %}
		                                                        	<i class="icofont icofont-unlocked"></i>&nbsp;&nbsp;{{ group.camera_group_name }}
		                                                        	{% endif %}
		                                                        </h6>
		                                                    </li>
		                                                    {% endfor %}
	                                                    {% endif %}
	                                                </ul>
	                                            </div>
											</div>
										</div>
	                                </div>
	                                <div class="card-footer">
	                                	<div class="row">
	                                		<div class="col text-right">
		                                		<button class="btn btn-outline-secondary waves-effect waves-light"  onclick="location.href='{{ base_url }}/floorplan-list'">Cancel</button>
		                                		<button class="btn btn-secondary" type="button" id="save_btn">&nbsp; Save &nbsp;</button>
	                                		</div>
	                                	</div>
	                                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="choosegroup-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Choose Camera Group</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col">
						<label>Camera Group : </label>
		                <select class="form-control"  id="select_groupcamera">
		                	<option selected value="">-- Choose Camera Group --</option>
		                	{% for group in camera_groups %}
                            	<option value='{{ group.camera_group_id }}'>{{ group.camera_group_name }}</option>
                            {% endfor %}
		                </select>
					</div>
	            </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal" id="modal_cancel_btn">Cancel</button>
				<button type="button" class="btn btn-secondary waves-effect waves-light" id="modal_confirm_btn">Confirm</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}


<!-- datatable -->
<script src="{{ base_url }}/theme/bower_components/datatables.net/js/jquery.dataTables.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.print.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.html5.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" ></script>

 <script src="{{ base_url }}/theme/assets/pages/advance-elements/moment-with-locales.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base_url }}/theme/assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-daterangepicker/js/daterangepicker.js"></script>


<script type="text/javascript" src="{{ base_url }}/theme/assets/js/SmoothScroll.js"></script>
<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/script.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/assets/pages/j-pro/js/custom/popup-menu-form.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/common-pages.js"></script>

<!-- custom js -->
<script src="{{ base_url }}/theme/assets/js/service.js"></script>
<script src="{{ base_url }}/theme/assets/js/criteria.js"></script>
<script src="{{ base_url }}/theme/bower_components/stroll/js/stroll.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/pages/list-scroll/list-custom.js"></script>
{# <script src="{{ base_url }}/theme/assets/js/location.js"></script> #}
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/jPolygon.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/bower_components/select2/js/select2.full.min.js"></script>

<script type="text/javascript" src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

<script>

var cnt_polygon = [];

{% if floorplan_data %}
getJson();
{% endif %}

function getJson(){
	$.post("{{ json_url }}", function(response){
	    clear_canvas(response);
	    $.each(response, function(index, value){
	    	$("#select_groupcamera option[value='"+value.camera_group_id+"']").prop("disabled", true);
	    });
	}, 'json');
}


function resize(){    
	$("#floorplan_canvas").outerHeight(
		$(window).height()-$("#floorplan_canvas").offset().top- Math.abs($("#floorplan_canvas").outerHeight(true) - $("#floorplan_canvas").outerHeight())
	);
}

function modalChooseGroup(e){
	e.preventDefault();
	
	$("#select_groupcamera").val('');
	$("#choosegroup-modal").modal({
		backdrop: 'static', 
		keyboard: false
	}).modal("show");
}

$("#modal_confirm_btn").click(function(){

	if($("#select_groupcamera").val() == ''){
		alert("Please choose camera group for this area.");
		return false;
	}
	var camera_group_id = '';
	var cnt_selected = 0;

	$("#select_groupcamera option:selected").each(function(){
		$(this).prop("disabled", true);
		camera_group_name = $(this).text();
		camera_group_id = $(this).val();
	});

	setUnavailable(camera_group_id)

	//default position and size
	var label_top = 20;
	var label_left = 20;
	var label_width = 17;
	var label_height = 8;

	//find center
    var center_point = findCenter(perimeter);
    markCenterLabel(center_point, camera_group_name);

	all_coordinates.push({
		'area_name' : camera_group_name,
		'camera_group_id' : camera_group_id,
		'label_top' : label_top,
		'label_left' : label_left,
		'label_width' : label_width,
		'label_height' : label_height,
		'coordinates' : perimeter
	});

    tmp_perimeter.push({
    	'area_name' : camera_group_name,
		'camera_group_id' : camera_group_id,
		'label_top' : label_top,
		'label_left' : label_left,
		'label_width' : label_width,
		'label_height' : label_height,
		'coordinates' : perimeter
	});

    drawLabelbox(camera_group_id,camera_group_name,label_top, label_left, label_width, label_height);

	perimeter = [];
    complete = false;
    $("#coordinates").val('');

    $("#choosegroup-modal").modal("hide");

});

$("#modal_cancel_btn").click(function(){
	perimeter = [];
	start(true);
});


$(document).on("click",".delete_group",function(){
	var removeItem = $(this).data('groupid');
	
	resetStatus(removeItem);

	all_coordinates = all_coordinates.filter(function(e) {
	 	return e.camera_group_id !== removeItem.toString() ;
	});
	
	tmp_perimeter = tmp_perimeter.filter(function(e) {
	 	return e.camera_group_id !== removeItem.toString() ;
	});

	start(false,all_coordinates);
});

$(document).on('change', '.input_label', function(e){
	$("#label_div").empty();
	var group_id = $(this).data('groupid');

	$.each(all_coordinates, function(index, coords){
		
		var label_top = $("#input_t_"+coords.camera_group_id).val();
		var label_left = $("#input_l_"+coords.camera_group_id).val();
		var label_width = $("#input_w_"+coords.camera_group_id).val();
		var label_height = $("#input_h_"+coords.camera_group_id).val();	
	
		drawLabelbox(coords.camera_group_id, coords.area_name, label_top,label_left, label_width, label_height);

        coords.label_top = label_top;
        coords.label_left = label_left;
        coords.label_width = label_width;
        coords.label_height = label_height;

	});

});

$(document).ready(function(){

	var map_name = '';
	var file_name = '';
	var map_path = '';
	var map_size = '';
	var map_width = '';
	var map_height = '';
	var map_type = '';
	var branch_id = '{{ branch_id }}';

	resize();

	$(window).on("resize", function(){                      
    	resize();
	});

	$("#upload_btn").click(function(){
		if($("#floorplan_name").val() != ""){
			if($("#upload_file").val() != ""){
				$("#floorplan_content").show();
				// $(this).prop("disabled", true);
			}else{
				alert("Please choose floorplan image.");
			}
		}else{
			alert("Please enter floorplan name.");			
		}
	});

	$("#upload_btn").click(function(){
		var file_data = $('#upload_file').prop('files')[0];   
	    var form_data = new FormData();                  
	    form_data.append('files', file_data);

		$.ajax({
			url: '{{ base_url }}/upload-file/floorplan',
			type: 'POST',
			data: form_data,
			dataType: "json",
			cache: false,
			contentType: false,
            processData: false,
            success : function(response){
            	if(response != ''){
            		$.each(response, function(key, value){
		            	canvas.setAttribute('data-imgsrc', '{{ base_url }}/writable/'+value.path);
				        $("#floorplan_canvas").css("background-image", "url({{ base_url }}/writable/"+value.path+")");

				       	file_name = key;
				        map_path = value.path;
				        map_size = value.size;
				        map_type = value.type;
            		});
            	}
            	clear_canvas(); 
            	resize();

            	map_width = $("#floorplan_canvas").outerWidth();
			    map_height = $("#floorplan_canvas").outerHeight();


            }
		});
	});

	$("#save_btn").click(function(){

		{% if floorplan_data %}
		var url = '{{ base_url }}/floorplan/edit/'+branch_id+'/{{ map_id }}';
		{% else %}
		var url = '{{ base_url }}/floorplan/add/'+branch_id;
		{% endif %}
		var dataset = {
			map_name : $("#floorplan_name").val(),
			file_name : file_name,
			map_path : map_path,
			map_size : map_size,
			map_width : map_width,
			map_height : map_height,
			map_type : map_type,
			positions : all_coordinates
		}

		if(all_coordinates != ''){
			if (confirm('Save Changes?')) {
			  	$.post(url, dataset, function(response){
					if(response != ''){
						alert(response.msg);
						if(response.type == 'success'){
							window.location = '{{ base_url }}/floorplan-list';
						}
					}
				}, 'json');
			}
		}else{
			alert("Please have at least 1 camera group.");
		}
	});


	
});


</script>
{% endblock %}
