{% extends "layout/index.html" %}

{% block head %}
{{ parent() }}


<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/pages/j-pro/css/j-forms.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/feather/css/feather.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/icon/weather-icons/css/weather-icons-wind.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/css/p-loader.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/datatables.net/css/fixedColumns.dataTables.min.css">
<style type="text/css">
	#floorplan_canvas{
		border:1px solid #d3d3d3;
		background-image:url('');
		background-color: #f8f8f8;
		background-size:100% 100%;
		width:100%
	}

	table{
		width: 100%;
	}

	#density_location_table{
		min-height: unset;
	}

	.dataTables_scrollBody{
		height: unset !important;
	}

	.label_box{
		position: absolute;
	    background: #000000bf;
	    padding: 1%;
	    border-radius: 5px;
	    box-shadow: 1px 1px 15px #00000099;
	    color: #fff;
	    display: inline-table;
	    line-height: 1vw;
	}

	.label_text{
		font-size: 0.7vw;
	}

</style>
{% endblock %}

{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										{{ page_title }}
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								{% block criteria %}
								{% include 'filter/criteria_floorplan.twig' with { 'base_url': base_url } %}
								{% endblock %}
							</div>
						</div>
					</div>
					<div class="loader animation-start d-none">
                        <span class="circle delay-1 size-2"></span>
                        <span class="circle delay-2 size-4"></span>
                        <span class="circle delay-3 size-6"></span>
                        <span class="circle delay-4 size-7"></span>
                        <span class="circle delay-5 size-7"></span>
                        <span class="circle delay-6 size-6"></span>
                        <span class="circle delay-7 size-4"></span>
                        <span class="circle delay-8 size-2"></span>
                    </div>

					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<div class="location-title"></div>
									<div class="collapse" id="collapse_location">
										<div class="location-selected"></div>
									</div>
									<div class="period-selected"></div>
								</div>
							     <div class="card-block">
							     	<div class="row">
							     		<div class="col">
							     			<div class="form-group">
			                                    <canvas id="floorplan_canvas"
													data-imgsrc="{{ floorplan_data.map_path }}" 
													style="background-image:url({{ floorplan_data.map_path }})"></canvas>
												<input type="hidden" id="hidden_canvas_width" value="">
												<input type="hidden" id="hidden_canvas_height" value="">
												<div id="label_div"></div>
							     			</div>
							     		</div>
							     	</div>

									<div class="row mb-2 mt-3 option-minmax-reload"></div>
									<div class="row mb-2">
										<div class="dt-responsive table-responsive col-sm-12">
											<table id="density_location_table"
												class="table compact table-striped table-bordered order-column nowrap dataTable"
												class="stripe row-border order-column" style="width: 100%">

											</table>
										</div>
									</div>
                                </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" value="{{ color.lessthan }}" id="color_lessthan">
<input type="hidden" value="{{ color.between }}" id="color_between">
<input type="hidden" value="{{ color.greaterthan }}" id="color_greaterthan">

{% endblock %}
{% block footer %}
{{ parent() }}


<!-- datatable -->
<script src="{{ base_url }}/theme/bower_components/datatables.net/js/jquery.dataTables.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.print.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-buttons/js/buttons.html5.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" ></script>
<script src="{{ base_url }}/theme/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" ></script>

 <script src="{{ base_url }}/theme/assets/pages/advance-elements/moment-with-locales.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base_url }}/theme/assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/bootstrap-daterangepicker/js/daterangepicker.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/assets/js/SmoothScroll.js"></script>
<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/script.js"></script>

<script type="text/javascript" src="{{ base_url }}/theme/assets/pages/j-pro/js/custom/popup-menu-form.js"></script>
<script type="text/javascript" src="{{ base_url }}/theme/assets/js/common-pages.js"></script>

<!-- custom js -->
<script src="{{ base_url }}/theme/assets/js/service.js"></script>
<script src="{{ base_url }}/theme/assets/js/criteria.js"></script>
<script src="{{ base_url }}/theme/assets/js/filter_location.js"></script>
<script src="{{ base_url }}/theme/assets/js/filter_group.js"></script>
<script src="{{ base_url }}/theme/assets/js/filter_date.js"></script>
<script src="{{ base_url }}/theme/assets/js/filter_event.js"></script>
<script src="{{ base_url }}/theme/assets/js/density_location.js"></script>

<script>

var cntDraw = 0;
var canvas = document.getElementById("floorplan_canvas");
var ctx;
var map_id = 0;

$("#branch_id").change(function(){
	var branch_id = $(this).val();
	var url = "{{ base_url }}/floorplan/get-floorplan-by-branch/"+branch_id;
	$("#search").prop("disabled", true);
	if(branch_id == ''){
		$("#map_id").empty().append("<option selected value=''>-- Select Floorplan --</option>");
	}else{
		$.post(url, function(response){
			if(response != ''){
				$("#map_id").empty().append("<option selected value=''>-- Select Floorplan --</option>");
				$.each(response, function(index, value){
					$("#map_id").append("<option value='"+value.map_id+"'>"+value.map_name+"</option>");
				});
			}else{
				$("#map_id").empty().append("<option selected value=''>-- Floorplan Not Found --</option>");
			}
		},'json');

		$("#option_branch").val(branch_id);
	}
});

$("#map_id").change(function(){
	map_id = $(this).val();
	if(map_id != ''){
		$("#search").prop("disabled", false);
		getCameraGroup(map_id);
	}else{
		$("#search").prop("disabled", true);
	}
});

$("#search").click(function(){
	renderFloorplan(map_id);
});


function getCameraGroup(map_id){
	var url = '{{ base_url }}/floorplan/get-cameragroup-by-floorplan/'+map_id;
	$.post(url, function(response){
		if(response != ''){
			$("#hidden_cam_group").empty();
			$.each(response, function(index, cam_id){
				$("#hidden_cam_group").append('<input type="hidden" name="option_camera_group[]" value="'+cam_id+'">');
			});
		}
	}, 'json');
}


function getMapData(map_id){
	var url = '{{ base_url }}/floorplan/get-floorplan-data/'+map_id;
	$.post(url, function(response){
		if(response.area_perimeters != ''){
			cntDraw = 0;
			$("#hidden_cam_group").empty();
			$.each(response.area_perimeters, function(index, value){
				$("#hidden_cam_group").append('<input type="hidden" name="option_camera_group[]" value="'+value.camera_group_id+'">');
			});
		}
	}, 'json');
}

function renderFloorplan(map_id, dataset){
	var url = '{{ base_url }}/floorplan/get-floorplan-data/'+map_id;
	var params = $('#criteria-form').serialize();

	canvas.setAttribute('data-imgsrc', "");
    $("#floorplan_canvas").css("background-image", "");

	$.post(url, params, function(response){
		cntDraw = 0;
		if(response != ''){
			if(response.floorplan_data != ''){
	        	canvas.setAttribute('data-imgsrc', response.floorplan_data.map_path);
		        $("#floorplan_canvas").css("background-image", "url("+response.floorplan_data.map_path+")");
		        $("#hidden_canvas_width").val(response.floorplan_data.map_width);
		        $("#hidden_canvas_height").val(response.floorplan_data.map_height);
			}

			if(response.area_perimeters != ''){
				var img = new Image();
			    img.src = canvas.getAttribute('data-imgsrc');
			    
			    img.onload = function(){
			        ctx = canvas.getContext("2d");
			        
		            canvas.width = $("#floorplan_canvas").outerWidth();
			        canvas.height = $("#floorplan_canvas").outerHeight();

			        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

					drawAll(response.area_perimeters);
			    }
			}
		}
	}, 'json');
	
}

function drawAll(json){
    $("#label_div").empty();
    if(json != ''){
        $.each(json,function(index, coords){
            var endloop = false;
            ctx.lineWidth = 1;
            ctx.strokeStyle = "white";
            ctx.lineCap = "square";
            ctx.beginPath();
            $.each(coords.coordinates, function(i,marked){
            	if(cntDraw == 0){
	                marked.x = calculateNewCoord(canvas.width, $("#hidden_canvas_width").val(), marked.x);
	                marked.y = calculateNewCoord(canvas.height, $("#hidden_canvas_height").val(), marked.y);
            	}

                if(i==0){
                    ctx.moveTo(marked.x, marked.y);
                } else {                    
                    ctx.lineTo(marked.x, marked.y);
                    if(i = coords.coordinates.length-1){
                        endloop = true;
                    }
                } 
            });

            if(endloop){
                ctx.lineTo(coords.coordinates[0].x,coords.coordinates[0].y);
                ctx.closePath();
                ctx.fillStyle = 'rgba(0, 196, 255, 0.5)';
                ctx.fill();
                ctx.strokeStyle = 'blue';
            }

            ctx.stroke();

            var cnt_data = coords.count_data;

            drawLabelbox(coords.camera_group_id, coords.area_name,coords.label_top, coords.label_left, coords.label_width, coords.label_height, cnt_data);
            
        });

        cntDraw = 1;
    }
}

function drawLabelbox(cam_group_id,cam_group_name,top,left,width,height, cnt_data){
	var growth_percent = 0;
	var counting = 0;
	if(cnt_data.past != 0){
		growth_percent = ((cnt_data.present-cnt_data.past)/cnt_data.past)*100;
	}
	if(cnt_data.present != 0){
		counting = fnService.formatComma(cnt_data.present);
	}
    var label = '<div class="label_box" id="label_box-'+cam_group_id+'" style="top: '+top+'%;left: '+left+'%;width: '+width+'%;height: '+height+'%;">'+
    			'<span class="label_text">Group : '+cam_group_name+'<br>Counting : '+counting+' ('+growth_percent.toFixed(2)+'%)</span></div>';
    $("#label_div").append(label);
}

function calculateNewCoord(new_width_height, old_width_height, old_x_y){

    var new_x_y = (new_width_height/old_width_height)*old_x_y;
    return new_x_y;
}

function resize(){    
	$("#floorplan_canvas").outerHeight(
		$(window).height() - $("#floorplan_canvas").offset().top - Math.abs($("#floorplan_canvas").outerHeight(true) - $("#floorplan_canvas").outerHeight())
	);
}


$(document).ready(function(){

	resize();

	$(window).on("resize", function(){                      
    	resize();
	});

	$(".option-date-end").change(function(){
        $(".option-date-start").val($(this).val());
	});

	$("#option_week_year_end").change(function(){
		$("#option_week_year_start").val($(this).val());
	});

	$("#option_month_year_end").change(function(){
		$("#option_month_year_start").val($(this).val());
	});

	$("#option_week_end").change(function(){
		$("#option_week_start").val($(this).val());
	});

	$("#option_month_end").change(function(){
		$("#option_month_start").val($(this).val());
	});
});

</script>
{% endblock %}
