<div class="{{ parent_id }} menu-item-bar mt-2 bar-child-{{ params.level }} " id="{{ group_id }}">
	<div class="menu-item-handle ui-sortable-handle">
		<span class="item-title">
		{% if parent_id is not empty %}
			<input type="text" name="name[{{ parent_id }}][{{ group_id }}]"  placeholder="Group name" id="input-{{ group_id }}"></span>
		{% else %}
			<input type="text" name="name[{{ group_id }}][{{ group_id }}]"  placeholder="Group name" id="input-{{ group_id }}"></span>
		{% endif %}
		<span class="item-controls">
			<span class="item-order">
				<a href="javascript:void(0);" data-id="{{ group_id }}" data-parent-id="{{ parent_id }}" data-level="{{ params.owner }}" class="bar-item add-owner" aria-label="Move up" title="Insert this level"><i class="fa fa-plus-square-o"></i></a>  
				<a href="javascript:void(0);" data-id="{{ group_id }}" data-parent-id="{{ parent_id }}" data-level="{{ params.child }}" class="bar-item add-child" aria-label="Move down" title="Insert sub level"><i class="fa fa-plus-square"></i></a>
				<a href="javascript;" data-id="{{ group_id }}" class="bar-item delete-owner" aria-label="Move down" title="Delete this level"><i class="fa fa-minus-square-o"></i></a>
				<a href="javascript;" data-id="{{ group_id }}" data-ref-id="{{ parent_id }}" class="bar-item add-branch" aria-label="Move down" title="Mapping Branch" data-toggle="modal" data-target="#add-branch-modal"><i class="fa fa-th-list"></i></a>
			</span>
		</span>
	</div>
 
</div>