{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/jstree/css/style.min.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/pages/treeview/treeview.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/assets/css/tree.css">

{% endblock %}
{% block content %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-header">
					<div class="row align-items-end">
						<div class="col-lg-4">
							<div class="page-header-breadcrumb">
								{{ breadcrumb|raw }}
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="page-header-title">
								<div class="d-inline">
									<h4>
										{{ title_body }}
									</h4>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-body">
					<div class="row">

						<div class="col-sm-12">
							<div class="card">
								<div class="card-block">
									{% if warning_exist is not empty %}
    									<div class="alert alert-warning background-warning">
    										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    											<i class="icofont icofont-close-line-circled text-white"></i>
    										</button>
    										<strong> </strong> {{ warning_exist }} 
    										<code>{{ post.email }}</code>
    									</div>
									{% endif %}
									<h4 class="sub-title">Group Branch Inputs</h4>
									<form action="" method="post" autocomplete="on" id="form_branch_group">
										<input type="hidden" name="branch_group_id" id="branch_group_id" value="{{ group.id }}">
										 
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Name <span class="text-danger error">*</span></label>
											<div class="col-sm-10">
												<input type="text" class="form-control w-50" name="branch_group_name" id="branch_group_name" value="{{ group.name }}"> <span class="messages"><p class="text-danger error">
														{{ incurrect_message }}
													</p></span>
											</div>
										</div>
        								
                                        {% macro render_group(groups, i) %}
                                        	{% import _self as macros %}
                                        	{% for reclusive_group in groups %}
                                        		<div id="{{ reclusive_group.id }}" class="{{ reclusive_group.reference_id }} menu-item-bar mt-2 bar-child-{{ i }} ">
                                        			<div class="menu-item-handle ui-sortable-handle">
                                        				<span class="item-title">
                                        						<input id="input-{{ reclusive_group.id }}" type="text" value="{{ reclusive_group.name }}" placeholder="Group name" name="name[{{ reclusive_group.parent_id }}][{{ reclusive_group.reference_id }}]">
                                        				</span>
                                        				<span class="item-controls">
                                        					<span class="item-order">
                                        						<a href="javascript;" data-id="{{ reclusive_group.id }}" data-parent-id="{{ reclusive_group.parent_id }}" data-level="{{ i }}" class="bar-item add-owner" aria-label="Move up" title="Insert this level"><i class="fa fa-plus-square-o"></i></a>  
                                        						<a href="javascript;" data-id="{{ reclusive_group.id }}" data-parent-id="{{ reclusive_group.parent_id }}" data-level="{{ i }}"  class="bar-item add-child" aria-label="Move down" title="Insert sub level"><i class="fa fa-plus-square"></i></a>
                                        						<a href="javascript;" data-id="{{ reclusive_group.id }}"  class="bar-item delete-owner" aria-label="Move down" title="Delete this level"><i class="fa fa-minus-square-o"></i></a>
                                        						<a href="javascript;" data-id="{{ reclusive_group.id }}"  data-ref-id="{{ reclusive_group.parent_id }}" class="bar-item add-branch" data-toggle="modal" data-target="#add-branch-modal" data-backdrop="static" data-keyboard="false" aria-label="Move down" title="Mapping Branch"><i class="fa fa-th-list"></i></a>
                                        					</span>
                                        				</span>
                                        			</div>
                                            		{% if reclusive_group.group_branch is not empty %}
                                            		    {{ macros.render_group(reclusive_group.group_branch, i+1) }}
                                            	    {% endif %}
                                        	    </div>
                                        	{% endfor %}
                                        {% endmacro %}

										<div class="form-group row">
        										<label class="col-sm-2 col-form-label">Level <span class="text-danger error">*</span></label>
        										<div class="col-sm-10 group-body">
        											{% if group.group_branch is not empty %}
        											       {% for group in group.group_branch %}
                            										
                    											<div class="{{ group.reference_id }} menu-item-bar " id="{{ group.id }}" >
                    												<div class="menu-item-handle ui-sortable-handle">
                    													<span class="item-title">
                    														<input id="input-{{ group.id }}" type="text" value="{{ group.name }}" placeholder="Group name" name="name[{{ group.reference_id }}][{{ group.reference_id }}]">
                    													</span>
                    													<span class="item-controls">
                    														<span class="item-order">
                    															<a href="javascript;" data-id="{{ group.id }}" data-level="0" class="bar-item add-owner" aria-label="Move up" title="Insert this level"><i class="fa fa-plus-square-o"></i></a>  
                    															<a href="javascript;" data-id="{{ group.id }}" data-level="1"  class="bar-item add-child" aria-label="Move down" title="Insert sub level"><i class="fa fa-plus-square"></i></a>
                    															<a href="javascript;" data-id="{{ group.id }}" class="bar-item delete-owner" aria-label="Move down" title="Delete this level"><i class="fa fa-minus-square-o"></i></a>
                    															<a href="javascript;" data-id="{{ group.id }}" data-ref-id="{{ group.reference_id }}" class="bar-item add-branch" data-toggle="modal" data-target="#add-branch-modal" data-backdrop="static" data-keyboard="false" aria-label="Move down" title="Mapping Branch"><i class="fa fa-th-list"></i></a>
                    														</span>
                    													</span>
                    												</div>
                    											
                        											{% if group.group_branch is not empty %}
                            											{% import _self as macros %}
                            											{{ macros.render_group(group.group_branch, 1) }}
                            										{% endif %}
                        										</div>
                                										
                										   {% endfor %}
            										{% else %}
        												<div class="{{ group.reference_id }} menu-item-bar " id="{{ group.reference_id }}" >
            												<div class="menu-item-handle ui-sortable-handle">
            													<span class="item-title"><input id="input-{{ group.reference_id }}" type="text" value="{{ group.name }}" placeholder="Group name" name="name[{{ group.reference_id }}][{{ group.reference_id }}]"></span>
            													<span class="item-controls">
            														<span class="item-order">
            															<a href="javascript;" data-id="{{ group.reference_id }}" data-level="0" class="bar-item add-owner" aria-label="Move up" title="Insert this level"><i class="fa fa-plus-square-o"></i></a>  
            															<a href="javascript;" data-id="{{ group.reference_id }}" data-level="1"  class="bar-item add-child" aria-label="Move down" title="Insert sub level"><i class="fa fa-plus-square"></i></a>
            															<a href="javascript;" data-id="{{ group.reference_id }}" class="bar-item delete-owner" aria-label="Move down" title="Delete this level"><i class="fa fa-minus-square-o"></i></a>
            															<a href="javascript;" data-id="{{ group.reference_id }}" data-ref-id="{{ group.reference_id }}" class="bar-item add-branch" data-toggle="modal" data-target="#add-branch-modal" data-backdrop="static" data-keyboard="false" aria-label="Move down" title="Mapping Branch"><i class="fa fa-th-list"></i></a>
            														</span>
            													</span>
            												</div>
            											</div>
            										{% endif %}
        										</div>
										</div>
										<div class="row ">
											<div class="col-md-12 text-right">
												<button type="button" class="btn btn-outline-secondary btn-cancel">Cancel</button>
												<button class="btn btn-secondary btn-save">&nbsp; Save &nbsp;</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% block modal %}
{% include 'pages/company/branchgroup/modal.twig' with { 'base_url': base_url } %} 			
{% endblock %}					

{% endblock %}
{% block footer %}
{{ parent() }}
<script src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jstree/js/jstree.min.js"></script>
<script src="{{ base_url }}/theme/assets/pages/treeview/jquery.tree.js"></script>
<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/script.js"></script>

<script src="{{ base_url }}/theme/assets/js/criteria.js"></script>
<script src="{{ base_url }}/theme/assets/js/branch-group.js"></script>
 
{% endblock %}