{% extends "layout/index.html" %}
{% block head %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/theme/bower_components/bootstrap-daterangepicker/css/daterangepicker.css">
<style>
    .square {
        border-radius:0 !important;
    }
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 400px;
        overflow-y: auto;
    }
</style>
{% endblock %}
{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                {{ breadcrumb|raw }}
                            </div>
                        </div>
                        <div class="col-lg-8 text-right">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>
                                        {{ title_body }}
                                    </h4>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                
                                    {% if warning_exist is not empty %}
                                        <div class="alert alert-warning background-warning">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled text-white"></i>
                                            </button>
                                            <strong> {{ warning_exist }}  </strong>
                                            <code></code>
                                        </div>
                                    {% endif %}
                                    
                                    <h4 class="sub-title">Task Scheduler</h4>
                                    <form action="" method="post" autocomplete="on" id="frmmain" name="frmmain">         
                                        <input type="hidden" name="schedule_id" id="schedule_id"    value="{{ schedule_data.schedule_id }}">                     
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Schedule Name<span class="text-danger error"> *</span></label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control square" name="schedule_name" id="schedule_name" value="{{ schedule_data.schedule_name }}" placeholder="" >           
                                                 <span class="messages"><p class="text-danger error">
                                                        {{ incurrect_message }}
                                                    </p></span>                              
                                            </div>
                                                                                        
                                            <label class="col-sm-1 col-form-label">Role<span class="text-danger error"> *</span></label>
                                            <div class="col-sm-3">
                                                <select class="form-control squarel" name="role_id" id="role_id" >
                                                    <option value=''>-- Select Role --</option>
                                                     {% for role in roledata %}
                                                         {% set selected = '' %}
{#                                                             {%  if role.role_id == camera_group_data.branch_id %}#}
{#                                                                 {% set selected = ' selected="selected" ' %}#}
{#                                                             {%  endif %}#}
                                                        <option {{ selected }} value='{{ role.role_id }}'>{{ role.role_name }}</option>
                                                     {% endfor %}
                                                 </select>                
                                                 <span class="messages"><p class="text-danger error">
                                                        {{ incurrect_message }}
                                                    </p></span>                              
                                            </div>
                                            
                                            <div class="col-sm-1"></div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Schedule Description</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control square" rows="5" name="schedule_description" id="schedule_description">{{schedule_data.schedule_description }}</textarea>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>                                        
                                        <br>
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Report<span class="text-danger error"> *</span></label>
                                            <div class="col-sm-4">                                                                                                                                      
                                                <select class="form-control squarel" name="report_id" id="report_id" >
                                                    <option value=''>-- Select Report Name --</option>
                                                     {% for report in reportdata %}
                                                         {% set selected = '' %}
{#                                                             {%  if role.role_id == camera_group_data.branch_id %}#}
{#                                                                 {% set selected = ' selected="selected" ' %}#}
{#                                                             {%  endif %}#}
                                                        <option {{ selected }} value='{{ report.schedule_report_id }}'>{{ report.schedule_report_name }}</option>
                                                     {% endfor %}
                                                 </select>         
                                                   <span class="messages"><p class="text-danger error">
                                                        {{ incurrect_message }}
                                                    </p></span>                                                                                                                                         
                                            </div>                                                                                     
                                             <div class="col-sm-1"></div>
                                        </div>
                                        
                                       <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Period</label>
                                            <div class="col-sm-9">       
                                                                                                                                                                           
                                                <div class="form-radio"> 
                                                    <div class="radio radio-inline">
                                                        <label style="font-size:14px;">
                                                        <input type="radio" name="PeriodRadio" id="PeriodRadio1" value="" checked="checked">
                                                        <i class="helper"></i>Previous
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <label style="font-size:14px;">
                                                        <input type="radio" name="PeriodRadio" id="PeriodRadio2" value="">
                                                        <i class="helper"></i>Current
                                                        </label>
                                                    </div>
                                                </div>
                                                   <span class="messages"><p class="text-danger error">
                                                        {{ incurrect_message }}
                                                    </p></span>                                                                                                                                         
                                            </div>                                                                                     
                                             <div class="col-sm-1"></div>
                                        </div>

                                       <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Time Period</label>
                                            <div class="col-sm-8">                                                              
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                         <input type="text" class="form-control square" name="time_start" id="time_start" value=""  placeholder="" > 
                                                         <small><b>Start</b></small>
                                                           <span class="messages"><p class="text-danger error">
                                                            {{ incurrect_message }}
                                                        </p></span>
                                                    </div>
                                                    <div class="col-sm-3">
                                                         <input type="text" class="form-control square" name="time_end" id="time_end" value=""  placeholder="" >
                                                         <small><b>End</b></small>
                                                           <span class="messages"><p class="text-danger error">
                                                            {{ incurrect_message }}
                                                        </p></span>
                                                    </div>
                                                </div>                                                                                         
                                               <span class="messages"><p class="text-danger error">
                                                    {{ incurrect_message }}
                                                </p></span>                                                                                                                                         
                                            </div>                                                                                     
                                             <div class="col-sm-1"></div>
                                        </div>
                                        <br>
                                        
                                         <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Location</label>
                                            <div class="col-sm-8">           
                                               <div class="animation-model">
                                                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-location" style="border:0;">Set Location</button>  &nbsp;&nbsp; <span id="count_location"></span>
                                               </div>
                                                 <span class="messages"><p class="text-danger error">
                                                        {{ incurrect_message }}
                                                    </p></span>     
                                            </div>
                                             <div class="col-sm-1"></div>
                                        </div>   
                                        
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Trigger</label>
                                            <div class="col-sm-4">           
                                                 <select id="trigger" name="trigger" class="form-control square">
                                                     <option value="daily" {%  if  camera_group_data.location == "daily"  %} selected {% endif  %} >Daily</option>
                                                     <option value="weekly" {%  if  camera_group_data.location == "weekly"  %} selected {% endif  %}>Weekly</option>
                                                     <option value="monthly" {%  if  camera_group_data.location == "monthly" %} selected {% endif  %}>Monthly</option>
                                                 </select> 
                                                 <small><b>Detail</b></small>                                                        
                                            </div>
                                             <div class="col-sm-5"></div>
                                        </div>   
                                        
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                            <label class="col-sm-2 col-form-label">Start</label>
                                            <div class="col-sm-4">                                                                                                                                                                   
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                         <input type="text" class="form-control square" name="start_date" id="start_date" value="{{ schedule_data.schedule_name }}" placeholder="" >   
                                                         <small><b>Date</b></small>
                                                           <span class="messages"><p class="text-danger error">
                                                            {{ incurrect_message }}
                                                        </p></span>
                                                    </div>
                                                    <div class="col-sm-6">                                                                                                         
                                                         <input type="text" class="form-control square "  name="start_time" id="start_time" value="" >
                                                         <small><b>Hour</b></small>                
                                                           <span class="messages"><p class="text-danger error">
                                                            {{ incurrect_message }}
                                                        </p></span>                                                    
                                                    </div>
                                                </div>                                                                                 
                                            </div>
                                             <div class="col-sm-5"></div>
                                        </div>                                   
         
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-1"></div>
                                           <div class="col-md-10 text-right">
                                                <button class="btn btn-outline-secondary btn-cancel">Cancel</button>
                                                <button class="btn btn-secondary btn-save">&nbsp; Save &nbsp;</button>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="modal-location">
	<div class="modal-dialog">
		<div class="modal-content">
		  <form id="frmLocation" name="frmLocation" action="" method="post" role="form">
			<div class="modal-header">
				<h5 class="modal-title">Set Location</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="col-md-12 pt-2">
					{% for province in branchs %}
					<div class="col-md-12 float-left pb-1 block-province">
						<div class="col-md-12 float-left pb-1">
							<input type="checkbox" name="province-{{ province.id }}"
								id="province-{{ province.id }}" value="{{ province.id }}"
								class="province"> &nbsp;
							{{ province.name|capitalize }}
						</div>
						{% for branch in province.branch %}
						<div class="col-md-12 float-left ml-4 pt-1 block-branch">
							<input type="checkbox" {{ checked }} name="branch[]"
								value="{{ branch.id }}"
								data-branch-name="{{ branch.name|capitalize }}"
								data-province-id="province-{{ province.id }}"
								class="branch province-{{ province.id }}"
								onclick="checkSingle(this,{{ province.id }})"> &nbsp;
							{{ branch.name|capitalize }}
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
{{ parent() }}
<script src="{{ base_url }}/theme/bower_components/i18next/js/i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="{{ base_url }}/theme/bower_components/select2/js/select2.full.min.js"></script>

 <script src="{{ base_url }}/theme/assets/pages/advance-elements/moment-with-locales.min.js"></script>
 <script src="{{ base_url }}/theme/bower_components/bootstrap-daterangepicker/js/daterangepicker.js"></script>
 
<script src="{{ base_url }}/theme/assets/js/jquery.inputmask.bundle.js"></script>

<script src="{{ base_url }}/theme/assets/js/pcoded.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/vartical-layout.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url }}/theme/assets/js/script.js"></script>

<script>

    $(function() {            

        $("#frmLocation").submit(function(event){        
        	   submitForm();
        	   return false;
        });
   	 
         $("#start_time").inputmask(
    		 "hh:mm", {
		        placeholder: "HH:MM", 
		        insertMode: false, 
		        showMaskOnHover: false
		      }
         );
         $("#time_start").inputmask(
                 "hh:mm", {
                    placeholder: "HH:MM", 
                    insertMode: false, 
                    showMaskOnHover: false
                  }
             );
         $("#time_end").inputmask(
                 "hh:mm", {
                    placeholder: "HH:MM", 
                    insertMode: false, 
                    showMaskOnHover: false
                  }
             );
         
         $('input[name="start_date"]').daterangepicker({
                 'locale': {
                     'format': 'DD/MM/YYYY'  
                 },
                 singleDatePicker: true,
                 showDropdowns: true,
             }, function(start, end, label) {
         });
                  
    });

    function submitForm(){
        var location = [];
        var icount = 0;
        $('input[name^="branch[]"]').each(function(){
        	var val = $(this).val();   
            if($(this). is(":checked")){               
                location.push(val);
                icount++;
            }            
        }); 
        $("#count_location").html(icount);             
        $("#modal-location").modal('hide');
   }
    
    $('.province').off('click').on('click',function(event){
        var value = $(this).val();
        var checked = $(this).is(':checked');

        if(checked == false){
            $('.province-'+value).each(function(){
                $(this).prop('checked', false);
            });
        }else{
            $('.province-'+value).each(function(){
                $(this).prop('checked', true);               
            });
        } 
    });

    function checkSingle(ele,val){
       if ($(ele).is(":checked")){
          var isAllChecked = 0;
          $(".checkSingle").each(function(){
                if(!this.checked){                    
                	  isAllChecked = 0;
                }
          })
        //  if(isAllChecked == 0){ $("#province-"+val).prop("checked", true); }
      }else {
          $("#province-"+val).prop("checked", false);
      }
    }
  
    function validate() {

        $('.messages').hide();
        var schedule_name = $('#schedule_name').val();
        var role_id = $('#role_id').val();
        var report_id = $('#report_id').val();
        var time_start = $('#time_start').val();
        var time_end = $('#time_end').val();
        var start_date = $('#start_date').val();
        var start_time = $('#start_time').val();
        
        var location_list = [];
        $.each($("input[name='branch[]']:checked"), function(){
        	location_list.push($(this).val());
        });
       // console.log(location_list)
        
        if (!schedule_name) {
            $('#schedule_name').parent('div').find('.messages').show();
            valid = 1;
        }
        if (!role_id) {
            $('#role_id').parent('div').find('.messages').show();
            valid = 1;
        }        
        if (!report_id) {
            $('#report_id').parent('div').find('.messages').show();
            valid = 1;
        }        
        if (!time_start) {
            $('#time_start').parent('div').find('.messages').show();
            valid = 1;
        }  
        if (!time_end) {
            $('#time_end').parent('div').find('.messages').show();
            valid = 1;
        }  
        if (!start_date) {
            $('#start_date').parent('div').find('.messages').show();
            valid = 1;
        }  
        if (!start_time) {
            $('#start_time').parent('div').find('.messages').show();
            valid = 1;
        }  

        if (valid != 1) {
            return true;
        } else {
            return false;
        }
       
    }

    $('.btn-cancel').click(function() {
        window.history.back();
        return false;
    });    
    
    $('.btn-save').click(function() {               
        return validate();
    }); 
    
</script>
{% endblock %}
