<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">

<link rel="icon" href="{{ base_url }}/theme/assets/images/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme//bower_components/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme//assets/icon/themify-icons/themify-icons.css">

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme//assets/icon/icofont/css/icofont.css">

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme//assets/css/style.css">

<link rel="stylesheet" type="text/css" href="{{ base_url }}/theme//assets/css/custom.css">
</head>
<body class="fix-menu">

	<section class="login-block">

		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<form class="md-float-material form-material" action="{{ base_url }}/login" method="post" autocomplete="on">
						<div class="text-center">
							<img src="{{ base_url }}/theme/assets/images/logo.png" alt="logo.png">
						</div>
						<div class="auth-box card">
							<div class="card-block">
								<div class="row m-b-20">
									<div class="col-md-12">
										<h4 class="text-center">Sign In</h4>
									</div>
								</div>
								<div class="form-group form-primary">
									<input type="text" name="email" class="form-control" required placeholder="Email"> <span class="form-bar"></span>
								</div>
								<div class="form-group form-primary">
									<input type="password" name="password" class="form-control" required placeholder="Password"> <span class="form-bar"></span>
								</div>
								<div class="row m-t-25 text-left">
									<div class="col-12">
										<div class="checkbox-fade fade-in-primary d-">
											<label> <input type="checkbox" value="" class="blue-da"> <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span> <span class="text-inverse">Remember me</span>
											</label>
										</div>
										<div class="forgot-phone text-right f-right">
											<a href="{{ base_url }}/forget-password" class="text-right"> Forgot Password?</a>
										</div>
									</div>
								</div>
								<div class="row m-t-30">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20 blue-da">Submit</button>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-md-12">
										<p class="text-inverse text-center ">Digital Associates Co., Ltd.</p>
										<p class="text-inverse text-left">
											<small> 3/24 Soi Phaholyothin 13, Phaholyothin Rd. Phayatai, Phayatai, Bangkok 10400 Telephone: </small> <a href="tel:02-6182-266"><small>02-6182-266</small></a> <small>Fax: 02-6182-260 Website: </small> <a href="http://www.da.co.th/" target="_blank"><small>http://www.da.co.th</small></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	<script src="{{ base_url }}/theme//bower_components/jquery/js/jquery.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/jquery-ui/js/jquery-ui.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/popper.js/js/popper.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/bootstrap/js/bootstrap.min.js"></script>

	<script src="{{ base_url }}/theme//bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

	<script src="{{ base_url }}/theme//bower_components/modernizr/js/modernizr.js"></script>
	<script src="{{ base_url }}/theme//bower_components/modernizr/js/css-scrollbars.js"></script>

	<script src="{{ base_url }}/theme//bower_components/i18next/js/i18next.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
	<script src="{{ base_url }}/theme//bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
	<script src="{{ base_url }}/theme//assets/js/common-pages.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>
	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="56e98a584eb7d76947167454-|49" defer=""></script>
	
	
	<script>
 
	$.get('blob:https://www.metube.id/d29dfa54-5a43-4457-bdb4-3e817c689d95',function(res){
		console.log(res);
		});
	</script>
</body>
</html>
